arrow-button{

    .arrow {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 13em;
        -webkit-transform: translate(-50%, -50%);  
        transform: translate(-50%, -50%);   
    }  
}