light-button{
  .light {
    animation-delay: 100ms;
    animation-name: lightup;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    opacity: 0;
    width: 100%;
  }

  @keyframes lightup {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }
}

