big-border {
    .big-border {
        // background-color: rgb(34, 34, 34);
        background-color: rgb(0, 0, 0);
        box-shadow:0 0 0 1.5em inset;
        height: 100%;
        width: 100%;
        z-index : 10;
    }
}

