<div class="big-border" [style.color]="backGround">
  <big-button [isBottom]="false" [backGround]="backGround"></big-button>
  <big-button [isBottom]="true" [backGround]="backGround"></big-button>
</div>