big-button {
    .big-button {
        height: 50%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        overflow-x: hidden;
        transition: 0.5s;
    }

    .triangle-top-left{
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        top: 0;
        left: 0;  
        border-width: 80px 80px 0 0;
        z-index: 1;
    }

    .triangle-top-right{
        width: 0;
        height: 0;
        border-style: solid;
        position: absolute;
        top: 0;
        right: 0;  
        border-width: 0 80px 80px 0;    
        z-index: 1;
    }

    .triangle-bottom-left{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 80px 0 0 80px;
        position: absolute;
        bottom: 0;
        left: 0;  
        z-index: 1;
    }

    .triangle-bottom-right{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 80px 80px;
        position: absolute;
        bottom: 0;
        right: 0;  
    }
}   

