<div class="big-button" [style.top]="styleString" (touchstart)="active()" (touchend)="inactive()">
  <arrow-button class="arrow-button" [isBottom]="isBottom" [backGround]="backGround"></arrow-button>
  <light-button *ngIf="isClicked" [backGround]="backGround" [numberOfLights]="6" [isBottom]="isBottom"></light-button>
  <div class="triangle-top-left" [style.border-color]="backGround+' transparent transparent transparent'"></div>
  <div class="triangle-bottom-left" [style.border-color]="'transparent transparent transparent '+backGround"></div>
  <div class="triangle-top-right" [style.border-color]="'transparent '+backGround+' transparent transparent'"></div>
  <div class="triangle-bottom-right" [style.border-color]="'transparent transparent '+backGround+' transparent'"></div>
</div>